@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #deb887;
}
input {
    background-color: rgba(255, 255, 255, 0.5);
}
input:disabled {
    background-color: rgba(255, 255, 255, 0.3);
}
